DirectoryIndex index.php index.htm index.html

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /estrutura-padrao
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>